@model IEnumerable<MovieWebsite.Models.Menu>
<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="/"><img class="logo" src="/Content/images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    @foreach (var menu in Model)
                    {
                        if (menu.SubMenus.Count != 0)
                        {
                            <li class="dropdown first">
                                <a href="/@menu.Meta" class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
                                    @menu.Name
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu level1">
                                    @foreach (var submenu in menu.SubMenus)
                                    {
                                        <li><a href="@submenu.Link">@submenu.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown first">
                                <a href="/@menu.Meta" class="btn btn-default">@menu.Name</a>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    @if (Session["Username"] != null)
                    {
                        <li class="dropdown first" style="position: relative;">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" style="text-transform: none; display: flex; align-items: center;">
                                <img src="~/Content/images/uploads/@Session["Avatar"]" alt="avatar" style="width: 25px; height: 25px; border-radius: 50%; margin-right: 8px; object-fit: cover;" />
                                @Session["Username"]
                                <i class="fa fa-angle-down" aria-hidden="true" style="margin-left: 8px;"></i>
                            </a>
                            <ul class="dropdown-menu level1" style="right: 0; left: auto; min-width: 130px;">
                                <li><a href="/user/profile">Profile</a></li>
                                <li><a href="#" id="logoutBtn">Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="loginLink"><a href="#">LOG In</a></li>
                        <li class="btn signupLink"><a href="#">sign up</a></li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <div class="top-search">
            <select>
                <option value="united">TV show</option>
                <option value="saab">Others</option>
            </select>
            <input style="max-width: 100%;" type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
        </div>
    </div>
</header>
<!-- END | Header -->
