

@{
    int totalPages = ViewBag.totalPages;
    int currPage = ViewBag.currPage;
    var queryString = HttpUtility.ParseQueryString(Request.QueryString.ToString());
    queryString["page"] = currPage.ToString();
    string url = Url.Action("CelebList", "Celeb", queryString.ToString());
}
<ul style="margin: auto; padding: 10px;" class="pagination">
    @if (currPage > 1)
    {
        <li class="icon-prev">
            <a href="@Url.Action("CelebList", "Celeb", new { page = currPage - 1 }).ToLower()"><i class="ion-arrow-left-b"></i></a>
        </li>
    }
    @for (int i = Math.Max(1, currPage - 2); i <= Math.Min(totalPages, currPage + 2); i++)
    {
        if (i == currPage)
        {
            <li class="active">
                <a href="@Url.Action("CelebList", "Celeb", new { page = currPage }).ToLower()">@i</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action("CelebList", "Celeb", new { page = i }).ToLower()">@i</a>
            </li>
        }
    }
    @if (currPage < totalPages - 2)
    {
        if (currPage < totalPages - 3)
        {
            <li>
                <span>...</span>
            </li>
        }
        <li>
            <a href="@Url.Action("CelebList", "Celeb", new { page = currPage }).ToLower()">@totalPages</a>
        </li>
    }
    @if (currPage < totalPages)
    {
        <li class="icon-next">
            <a href="@Url.Action("CelebList", "Celeb", new { page = currPage + 1 }).ToLower()"><i class="ion-arrow-right-b"></i></a>
        </li>
    }
</ul>
