@model List<MovieWebsite.Models.News>
@{
    ViewBag.Title = "News";
    int totalNews = ViewBag.TotalNews;
}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> new list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> new</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                @if (ViewBag.Keyword != null)
                {
                <div style="padding:8px;" class="topbar-filter">
                    <p class="pad-change">Found <span>@totalNews news</span> in total</p>
                </div>
                }
                <div class="row">
                    @foreach (var new_obj in Model)
                    {
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="blog-item-style-2">
                                <a href="/new/@new_obj.Meta"><img src="~/Content/images/uploads/@new_obj.Wallpaper" alt=""></a>
                                <div class="blog-it-infor">
                                    <h3><a href="/new/@new_obj.Meta">@new_obj.Title</a></h3>
                                    <span class="time">@new_obj.InitDate.Value.ToString("d MMM yyyy")</span>
                                    <p class="new-content">@Html.Raw(new_obj.Content)<p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div style="padding:8px;" class="topbar-filter">
                    @Html.Action("NewPagination", "New", new { currPage = ViewBag.Page, totalPages = ViewBag.PageCount });
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search for new</h4>
                        <form class="form-style-1 celebrity-form" action="/new">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>Keyword</label>
                                    <input name="keyword" type="text" placeholder="Enter keywords">
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="SEARCH">
                                </div>
                            </div>
                        </form>
                    </div>
                    @Html.Action("PopularNews", "New");
                    @*<div class="sb-tags sb-it">
                        <h4 class="sb-title">tags</h4>
                        <ul class="tag-items">
                            <li><a href="#">Batman</a></li>
                            <li><a href="#">film</a></li>
                            <li><a href="#">homeland</a></li>
                            <li><a href="#">Fast & Furious</a></li>
                            <li><a href="#">Dead Walker</a></li>
                            <li><a href="#">King</a></li>
                            <li><a href="#">Beauty</a></li>
                        </ul>
                    </div>*@
                    <div class="ads">
                        <img src="/Content/images/uploads/ads1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>